{% extends "base.html" %}

{% block extra_title %}
    Delivery
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="product-title">Delivery and Shipping</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row justify-content-center text-black">
            <div class="col-lg-8 mt-4 mb-4">
                <h6 class="font-weight-bold">
                    UK DELIVERIES
                </h6>
                <br>

                <p class="small">
                    <span class="font-weight-bold">UK Standard Delivery:</span> Delivery takes 1-3 working days from when the order leaves our warehouse. 
                    This option will not guarantee delivery on a specific date and may be left in a safe location. 
                    Please allow at least 6 working days should you need to contact our Customer Service for tracking purposes. 
                    Please note that this service is not available to Northern Ireland, non-mainland UK and certain remote areas.
                </p>

                <p class="small">
                    <span class="font-weight-bold">UK Express Delivery:</span> Express Delivery takes 1 working day from when the order leaves our warehouse. 
                    You need to place your order before 8pm and without any personalisation or badge printing for same day despatch. 
                    Please note that delivery to Northern Ireland, non-mainland UK and certain remote will take longer.
                </p>

                <p class="small font-weight-bold">
                    If your order includes a personalised item this may add an additional 3 working days to despatch of your order regardless of which delivery service is selected.
                </p>

                <p class="small">
                    Depending on the weight, volume and value of your order and your delivery address, we will select an appropriate carrier to deliver your order.
                </p>

                <p class="small">
                    We do not offer guaranteed delivery on weekends or public holidays.
                </p>
                <br>

                <h6 class="font-weight-bold">
                    INTERNATIONAL DELIVERIES
                </h6>
                <br>

                <p class="small font-weight-bold">
                    Please note that due to the recent outbreak of the Coronavirus, we recommend expecting a delay of up to 21 days in receiving your order.
                </p>

                <p class="small">
                    Transit times will vary depending on the location of the delivery address.
                </p>

                <p class="small">
                    <span class="font-weight-bold">International Standard Delivery:</span> This service may be delivered through a local mail service 
                    and may not come with a tracking number. If a trackable service is used your ship confirmation email will contain a tracking number link, 
                    that will allow you to check the status of your package. Orders are usually delivered within 10-20 working days depending on your location 
                    but if it takes longer than this, please allow up to 25 working days from the date your order leaves our warehouse.
                </p>

                <p class="small">Please note: In order to qualify for Standard International Delivery your order must meet the below criteria. 
                    If your order exceeds any of them the standard delivery option will not be available:
                </p>

                <ul class="list-unstyled">
                    <li class="small">Order must be under 2kg</li>
                    <li class="small">Order must be under £150 in value</li>
                    <li class="small">Order must be no larger than 60cm x 60cm x 60cm</li>
                </ul>
                <br>

                <p class="small"><span class="font-weight-bold">International Express Delivery:</span> Our express carrier provides a fully traceable delivery service. 
                    Your ship confirmation email will contain a tracking number link, that will allow you to check the status of your package. Orders are usually delivered 
                    within 3-7 working days depending on your location but if it takes longer than this, please allow up to 10 working days from the date your order leaves our warehouse.
                </p>

                <p class="small">
                    Some more remote addresses may incur longer transit times. Cost dependent on the weight and volume of your order.
                </p>

                <p class="small font-weight-bold">
                    If your order includes a personalised item this may add an additional 3 working days to despatch of your order regardless of which delivery service is selected.
                </p>

                <p class="small">
                    Made to Order/personalised orders may ship on an untracked delivery service. If you have not received it, 
                    you must notify us within 40 working days of the shipment date. We cannot guarantee any further assistance 
                    with the whereabouts of your order after the 40 working days.
                </p>
                <br>

                <h6 class="font-weight-bold">
                    ADDITIONAL INFORMATION
                </h6>

                <p class="small font-weight-bold">
                    Handling Fee
                </p>
                <p class="small">
                    We may charge a handling fee in addition to shipping to cover warehouse storage and packing costs. Such fee will be displayed on checkout.
                </p>

                <p class="small font-weight-bold">
                    Customs & Duty
                </p>
                <p class="small">
                    Unless otherwise stated, all items are shipped from the United Kingdom and may incur duty & other charges upon entering other countries. 
                    <span class="font-weight-bold">"Any duty, clearance, tax or carrier charges must be borne by the recipient 
                        and we will not accept liability for any such costs.</span>
                </p>
                <p class="small">
                    We are unable to advise what the thresholds and rates are for other countries as these are determined by the respective governments and can vary significantly 
                    between countries and even items. If upon delivery, there are any additional charges due our carrier will contact you to arrange payment.
                </p>

                <p class="small">
                    <span class="font-weight-bold">Different Stock Availability:</span> 
                    If you have selected items with different availability times then we will 
                    despatch your order when all items are ready.
                </p>

                <p class="small">
                    <span class="font-weight-bold">Despatching of Orders:</span> 
                    Although we try to process and despatch your order on the day of order, 
                    this may not always be possible, for the following reasons:

                    <ul>
                        <li class="small"><span class="font-weight-bold">Pre-Orders:</span> Products on Pre-Order or products that are not 
                            in stock at the time of ordering will despatched in the period specified on the website
                        </li>
                        
                        <li class="small"><span class="font-weight-bold">Payment Card Checks:</span> Sometimes we may need to make additional 
                            checks on your payment card which could delay your order. This is to reduce the risk of fraud.
                        </li>
            
                        <li class="small"><span class="font-weight-bold">Personalised Items:</span> Items requiring personalisation for example 
                            with additional name, numbering and badges added may take an extra 3 days before they are ready to be despatched.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}