{% extends "base.html" %}

{% block extra_title %}
    Returns
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="product-title">Returns Information</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row justify-content-center text-black">
            <div class="col-lg-8 mt-4 mb-4">
                <h6 class="font-weight-bold text-center">
                    PLEASE NOTE some return methods are currently unavailable or taking longer than usual, due to the worldwide COVID-19 pandemic.
                </h6>
                <br>

                <h6 class="font-weight-bold">
                    RETURNS POLICY:
                </h6>

                <p class="small">
                    Our Return Process is simple. You can return your merchandise up to 90 days from the date of despatch of your package.
                </p>
                <p class="small">
                    Returns must be in original condition, unworn/unused with original tags and labels. Your return item(s) will be inspected upon arrival before your refund is processed.
                </p>
                <p class="small">
                    It can take up to 14 working days for your refund to be processed. You will receive a confirmation email once this is completed.
                </p>
                <p class="small">
                    All return charges are the customer's liability.
                </p>

                <p class="small font-weight-bold">
                    Important Information:
                </p>
                <p class="small">
                    <ol>
                        <li class="small">DVDs, videos or PC & video games which have been opened, pierced jewellery and items specially manufactured to 
                            your order can only be refunded or exchanged if these items are received damaged or wrong.
                        </li>
                        <li class="small">
                            Personalised items are non-returnable. A refund will only be permitted if the garment is faulty, damaged or wrong. 
                            We accept no responsibility once a replica shirt or short has been printed, if a player leaves the team and/or their 
                            team number changes, or if the badge changes in the future.
                        </li>
                        <li class="small">
                            We are unable to return any products which by reason of their nature cannot be returned 
                            (for example, underwear/swimwear due to hygiene reasons) or are likely to deteriorate or expire rapidly.
                        </li>
                    </ol>
                </p>

                <h6 class="font-weight-bold">
                    OTHER INFORMATION:
                </h6>

                <p class="small">
                    In line with your right to cancel, if you return your full order within 14 days of such order, we will refund all payments received from you, 
                    including the costs of delivery (except for the supplementary costs which arise if you choose a type of delivery other than our standard and 
                    least expensive method of delivery). We will process your refund within 14 days of receiving the item(s) back to our warehouse. If you return 
                    any or all of your order after 14 days, but within the 90 day returns period, delivery charges will be non-refundable unless the products are 
                    faulty, damaged or not as described upon delivery.
                </p>
                <p class="small">
                    We will make the refund using the same means of payment as you used for the initial transaction, unless we have expressly agreed otherwise. 
                    If an electronic refund is not possible, we will process your refund by cheque.
                </p>
            </div>
        </div>
    </div>
{% endblock %}