@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-font-color-dark: #555;
}

:root {
    --body-font: 'Monserrat', sans-serif;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.3rem;
    --small-font-size: 0.75rem;
    --normal-font-size: 0.93rem;
    --medium-font-size: 1.2rem;
    --large-font-size: 2.7rem;
}

@media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 4.5rem;
      --h2-font-size: 3.56rem;
      --small-font-size: 0.813rem;
      --normal-font-size: 1rem;
      --large-font-size: 10rem; 
    } 
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/media/home-image-alt.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #f5f5f5;
    font-family: var(--body-font);
}

@media (max-width: 1024px) {
    body {
        background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/media/home-image-alt.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}


/*------ Base------*/


p {
    font-size: var(--normal-font-size); 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}
  
a {
    text-decoration: none !important;
}

/*------ Navbar ----*/
.top-nav,
.navbar {
    background-color: #212529;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-logo-link {
    width: fit-content;
}

.dropdown-menu {
    background-color: #212529;
}

.dropdown-item {
    color: #fff;
}

/*---- Delivery Banner ----*/

.flash {
    color:#000;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

/*--- Buttons ---*/

.shop-now-button {
    background: #212529;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-outline-white {
    background: black;
    color: white !important;
    border: 1px solid black;
}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {
    background: #DE8916;
    color: black !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: black;
}

.shop-now-button:hover {
    transition-duration: 0s;
    transform: scale(1.1);
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btt-animation {
    animation: up 2s infinite;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/*---------- Home Page---------*/

.featured-container {
    background-color: #fff;
}

#featured h2{
    letter-spacing: 0.1em;
    font-weight: bold;
 }
 .card__wrapper{
     height: 550px;
     background: #fff;
     position: relative;
     overflow: hidden;
     border-radius: 10px 10px 10px 10px;
     transform: scale(0.95);
     transition: box-shadow 0.5s, transform 0.5s;
 }
 .card__wrapper:hover{
     transform: scale(1);
     box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
   }
 
 .box{
     width:100%;
     height:100%;
 }
 .top__box{
     height: 75%;
     width:100%;
     -webkit-background-size: 100%;
     -moz-background-size: 100%;
     -o-background-size: 100%;
     background-size: 100%;
 }
 
 .top__box img{
     object-fit: cover;
     width: 100%;
     height: 100%;
 }
 .bottom{
     width: 100%;
     height: 30%;
 }
 
 .bottom__box{
     height:100%;
     width: 100%;
     background: #fff;
     position:relative;
 }
 .card__details{
     padding: 20px;
 }
 
 .all-products .col-sm-12, 
 .all-products .col-lg-4, 
 .all-products .col-xl-3
 .featured-card .col-sm-12, 
 .featured-card .col-lg-4, 
 .featured-card .col-xl-3{
     padding: 0;
 }

/* --------- Product Page -------------*/
.main-font {
    color: var(--main-font-color-dark);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

.checkout-overlay{
    background: hsla(37, 64%, 50%, 1);

    background: linear-gradient(90deg, hsla(37, 64%, 50%, 1) 0%, hsla(40, 75%, 60%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(37, 64%, 50%, 1) 0%, hsla(40, 75%, 60%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(37, 64%, 50%, 1) 0%, hsla(40, 75%, 60%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D0922D", endColorstr="#E6B24C", GradientType=1 );
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
  }

.team-banner {
    height: 250px;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 0px 18px 0px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.product-title {
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-name-title {
    color: #555;
    font-size: var(--medium-font-size);
    font-weight: bold;
}

.product-text {
    color: #555;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/*----------- Product Management Form -------*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/*----------- Toasts/Messages -------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* ----- Allauth form formatting ---*/

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #000;
    background-color: #DE8916;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* ----- Blog page ------- */

.wrap_img {
	height:50vh;
	min-height: 30vh;
	object-fit: cover;
	width: 100%;
}

/* ----- Blog detail page ------- */

figure .wrap_img {
	display: block;
	max-height: 100vh;
	max-width: 80vh;
}

.blog_img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

/*------------ Footer ----------*/

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #212529;
    padding:40px 0 0px;
    font-size:15px;
    line-height:24px;
    color: #f5f5f5;
}
.footer hr {
    border-top-color: #222;
    opacity:0.5
}
.footer hr.small {
    margin:20px 0
}
.footer h5 {
  color: #f8f9fa;
  font-size:16px;
  font-weight: bolder;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.social-icons {
    display: inline-flex;
    font-size: 1.5rem;
}

.footer .social-icons a {
  width: 40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:20px;
  
  color: #DE8916;
}
.copyright {
  margin:0
}

.social-icons a:first-child {
    margin-left: 0;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Add padding to top of products page when navbar collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: 1rem;
    }

    .team-banner {
        height: 120px;
    }

    .home-text {
        font-size: 2rem !important;
    }

    .btn.rounded-0.btn-lg, .btn.btn-outline-white.btn-outline-black.rounded-0.btn-lg.btn-bag {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
}

@media (max-width: 576px) {
    .input-group-prepend,
    .input-group-append {
        display: none;
    }

}

@media (max-width: 576px) {
    
    body {
        height: calc(100vh - 180px);
    }

    .team-banner {
        height: 80px;
    }

    .shop-now-button {
        min-width: 160px;
    }
}

/* ------- Animations ------*/

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

@keyframes up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}