{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-7 col-md-6 my-auto">
                <h4 class="display-4 logo-font text-white"> 500 Error!</h4>
                <p class="text-white">
                    Sorry, It looks like our system had an issue! 
                    <br> 
                    Hit the button below to get back to the store
                </p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn rounded text-uppercase py-3 home__anim1"><i class="fas fa-chevron-circle-left"></i> Back to Store</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}